extends navbar.pug

block title
    title About Magic Fitness Gym | Know More About Us

block style 
    link(rel="stylesheet", href="css/about.css")

block body
    section#about
        div.container
            div.story
                p.text-center.heading Our Journey
                p.text-center.sub-heading Magic Fitness Gym was founded in 2021 as a family owned and operated business. The Magic Fitness Gym founders didn't want it to be just another gym equipment retailer - they wanted to be the best in the industry and set their minds to doing so! Since its birth, Magic Fitness Gym has grown into one of Solapur's largest gym having helped over 350 customers live longer, happier and healthier lives.

            div.work
                p.text-center.heading Our Motive
                p.text-center.sub-heading We want to help you live a fit and healthy lifestyle! We do this by helping you find the most suitable training package for your home gym, studio or commercial gym, keeping your budget, lifestyle and fitness goals in mind. We stock a wide range of gym workouts, with strength equipment, cardio, cross training and so much more. Our awesome team is always keen to help, so please contact us to discuss your needs.

        div.achieve
            div.record
                p.text-center.heading 350+
                p.text-center.sub-heading Customers 
            div.record
                p.text-center.heading 4.5 / 5
                p.text-center.sub-heading Average Review 
            div.record
                p.text-center.heading 10+ Cities
                p.text-center.sub-heading Service Provided  