extends navbar.pug

block title
    title Magic Fitness Gym | Best Gym in Town

block style 
    link(rel="stylesheet", href="css/home.css")

block body 
    main 
        != messages('message', locals)
                    
        section#main 
            img.container(src="images/logo.png", alt="Magic Gym Logo")
            p.text-center.heading Magic Fitness Gym 
            p.text-center.sub-heading All progress takes place outside the comfort zone.

        section#services
            p.text-center.header Our Specialities
            div.options
                div.step
                    img(src="images/trademil.webp", alt="Trademill")
                    p.text-center.sub-heading Aerobic Exercise
                div.step
                    img(src="images/weight-lift.webp", alt="Weight Lifting")
                    p.text-center.sub-heading Strength Training
                div.step
                    img(src="images/bar.webp", alt="Bar")
                    p.text-center.sub-heading Endurance Training 
                div.step
                    img(src="images/pushups.webp", alt="Push Ups")
                    p.text-center.sub-heading Vigorous Exercise