doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="images/logo.png", type="image/x-icon")
        link(rel="stylesheet", href="css/navbar.css")
        script(src="javascript/cut_btn.js" defer) 
        script(src="javascript/hamburger.js" defer)

        script(type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js" defer)
        script(nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js" defer)
        
        block title
        block style
        
        block script
    
    body
        nav#navigation <span> Magic Fitness Gym </span>
            ul.nav 
                img.logo(src="images/logo.png", alt="Magic Gym")
                li.item 
                    a(href="/") Home
                li.item 
                    a(href="/about") About Us
                li.item 
                    a(href="/contact") Contact Us 
                li.item 
                    a(href="/buy") Buy Membership
                if(isAuthenticated)
                    li.item
                        a(href="/purchase_history") Purchase History
                    li.item
                        a(href="/end_session") Logout
                else
                    li.item
                        a(href="/login") Login
            
            button.hamburger
                | <ion-icon class="menuIcon" name="menu-outline"></ion-icon>
                | <ion-icon class="closeIcon" name="close-outline"></ion-icon>

        block body        

        footer#footer
            p.text-center © All Copyrights Reserved
            a(href="/") MagicFitnessGym.com - 2021
