extends navbar.pug

block title
    title 404 Error!! | Page Not Found 

block style
    link(rel="stylesheet", href="css/error.css")

block body 
    main 
        img.container(src="images/404.webp", alt="Page Not Found")