@import url('https://fonts.googleapis.com/css2?family=Genos:wght@100;200;300;400;600&display=swap');
/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Genos', sans-serif;
}


/* Flash Messages */

.messages {
    width: 100%;
    margin-bottom: -50px;
    z-index: 2;
}


.alert {
    width: 75%;
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: 0px 0px 5px #fff2f2;
    border-radius: 15px;
    padding: 5px 0;
    position: relative;
}

.success {
    background: rgba(0, 229, 97, 0.9);
}

.fail {
    background: rgba(246, 71, 71, 0.9);
}

.info {
    background: rgba(68, 133, 249);
}


#cut {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    font-size: 1.2rem;
}


/* Login Box */

.container {
    width: 75vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    min-height: 100vh;
    z-index: -1;
}


.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    min-height: inherit;
    width: 100%;
    background: url('../images/login-bg2.webp') no-repeat center center/cover;
    z-index: -1;
}


.logo-container {
    text-align: center;
    order: 2;
    width: 50%;
}

.logo {
    width: 50%;
    filter: drop-shadow(2px 4px 6px black);
    border-radius: 50%;
    box-shadow: 0 0 33px -7px #fff;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.data h1 {
    color: #fff;
    font-size: 3.5rem;
    padding: .5rem 0;
    border-bottom: 2px dashed #fff;
    /* width: 50%; */
}

.box {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
}

.box ion-icon {
    font-size: 3em;
    color: #fff;
}

.user-data {
    font-family: 'Genos', sans-serif;
    color: #fff;
    background: none;
    outline: none;
    border: 0;
    border-bottom: 1px solid #fff;
    font-size: 2em;
    margin: 0 .5rem;
    padding: 0 .5rem;
    width: 75%;
}

.user-data:hover, .user-data:focus {
    border-bottom: 1px solid grey;
}

::placeholder {
    color: #fff;
    opacity: 0.8;
}

/* Login Button */

.btn-container {
    padding: 2rem 0;
    border-bottom: 1px solid #fff;
}

.btn {
    font-family: 'Genos', cursive;
    padding: .5rem 1rem;
    background: none;
    outline: none;
    border: 2px solid #fff;
    border-radius: .7rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: all 0.25s;
}

.btn:hover {
    color: black;
    background: #fff;
    box-shadow: 0px 0px 17px -4px #fff;
    border: 2px solid black;
}

.register {
    padding: 1rem 0;
}

.register p {
    color: #fff;
    font-size: 1.3rem;
    padding: .5rem 0;
    margin-bottom: 1rem;
}

.register a {
    text-decoration: none;
}

/* Footer */

#footer {
    color: #fff;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    background: rgba(0, 0, 0, 0.9);
}

#footer p {
    font-size: 1rem;
}

#footer a {
    color: #fff;
    text-decoration: none;
}

.gymlink {
    font-size: 1.5rem;
    font-weight: bold;
    background: -webkit-linear-gradient(#fff, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@media screen and (max-width:1000px) {
    body {
        /* background: url('../images/login-bg1.webp') no-repeat center center/cover; */
        /* backdrop-filter: blur(2px); */
    }

    .container {
        width: 100vw;
        flex-direction: column;
    }

    .container::before {
        background: url('../images/login-bg1.webp') no-repeat center center/cover;
        filter: blur(2px);
    }


    .alert {
        width: 95%;
        font-size: 0.8rem;
    }

    #cut {
        font-size: 0.8rem;
    }

    .logo-container {
        padding: 0;
        text-align: center;
        order: 0;
    }

    .logo {
        width: 65%;
    }

    .data {
        width: 100%;
        transform: translateY(0);
        align-items: center;
    }

    .data h1 {
        width: 75%;
        font-size: 2rem;
        margin: 1rem 0;
        border-bottom: 2px dashed #fff;
        text-align: center;
    }

    .box {
        margin: 0.5rem auto;
        justify-content: center;
    }

    .box ion-icon {
        font-size: 2.5rem;
    }

    .user-data {
        font-size: 1.2rem;
        transform: translateY(0);
        padding: .2rem 0.5rem;
    }

    .btn-container {
        padding: 1rem 0;
        width: 100%;
        text-align: center;
    }

    .btn {
        font-size: 1rem;
    }

    .register {
        width: 100%;
        text-align: center;
    }

    /* Footer */

    #footer p {
        font-size: 0.8rem;
    }

    #footer a {
        font-size: 0.8rem;
    }

    .gymlink {
        font-size: 1.2rem;
        line-height: 2.2rem;
        -webkit-text-fill-color: #fff;
    }
}